/* clique me */



#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

/* Caixa do popup */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px;
    z-index: 20;
    border-radius: 10px;
}

#popup img {
    max-width: 400px;
    /* limite de tamanho */
    border-radius: 8px;
}

#closeBtn {
    margin-top: 10px;
    width: 100%;
}

.btn-romantico {
    background: rgba(255, 192, 203, 0.25);
    position: relative;
    margin-top: 500px;
    left: -200px;
    /* rosa claro transparente */
    padding: 10px 18px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 160, 180, 0.4);
    color: #ff6b8b;
    /* rosa forte */
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: 0.25s ease;
}

/* Efeito ao passar o mouse */
.btn-romantico:hover {
    background: rgba(255, 150, 170, 0.32);
    transform: scale(1.05);
}

/* Efeito ao clicar */
.btn-romantico:active {
    transform: scale(0.95);
}


/* estilo do contador */


.contador-container {
    position: fixed;
    top: 15px;
    left: 15px;
    background: rgba(255, 192, 203, 0.25);
    /* rosa claro transparente */
    padding: 10px 18px;
    border-radius: 12px;
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 160, 180, 0.4);
    z-index: 9999;
    /* fica por cima de tudo */
}

.contador-texto {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    /* rosa mais forte */
    letter-spacing: 0.5px;
}



/* estilo polaroid foto surpresa */


.polaroid {
    width: 260px;
    height: 310px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.22);
    padding: 10px;
    padding-bottom: 50px;
    position: relative;
    right: -350px;
    top: 100px;
    cursor: pointer;
    overflow: hidden;
}

.photo-area {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.cover-black {
    position: absolute;
    inset: 0;
    background: black;
    z-index: 2;
    opacity: 1;
    transition: opacity .6s ease;
}

.revealed .cover-black {
    opacity: 0;
    pointer-events: none;
}

.photo-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right 30%;
    /* foto no lado direito e um pouco pra baixo */
}

.caption {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    bottom: 12px;
    left: 0;
    color: #333;
    font-family: "Courier New", monospace;
}