     * {
        margin: 0;
        padding: 0;
      }
      body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        background: radial-gradient(circle at 50% 52%, #222 0%, #000 100%);
      }
      header {
        background-color: rgba(0, 0, 0, 0.2);
        color: blue ;
        width: 100%;
        text-align: center;
        display: flex;  
        align-items: center;
        justify-content: space-between;
        padding: 5px;
      }
     
      header h1 {
        margin: 0;
      }
 
      nav ul {
        list-style-type: none;
        padding: 0;
      }
      nav ul a {
        color: rgb(255, 0, 0);
        text-decoration: none;
        padding: 10px 15px;
        display: inline-block;
      }
      nav ul a:hover {
        background-color: #575757;
      }
      main img {
        width: 250px;
        height: auto;
      }