* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle at 50%, #192233 20%, #683838);
    background-image: radial-gradient(circle at 1% 52%, rgba(139, 139, 139,0.05) 0%, );
}
.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
     height: 188px;
      background-color: rgba(255, 253, 253, 0.155);
     border-radius: 10px;
     backdrop-filter: blur(6px);
     border: 1px solid rgb(255 255 255 / 18%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.main .navigation {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.main .navigation span {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #fffffffd;
    transform: translate(calc(14px * var(--x)), calc(14px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
}
.main .navigation span {
    display: flex;
    justify-content: center;
    align-items: center;

}
.main .navigation.active span {
     width: 45px;
    height: 45px;
    background:  #f1efef;
    transform: translate(calc(60px* var(--x)), calc(60px* var(--y)));
    border-radius: 7px;
    border: 1px solid #ffffff7d;
}
.main .navigation.active span ion-icon {
    font-size: 1.35em;
}
.main .navigation.active span:hover ion-icon {
    color:  #2dfc52;
    filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52)
    drop-shadow(0 0 15px #2dfc52)
}
.close {
    position: absolute;
    width: 7px;
    height: 7px;
    background: #fff;
    transition: 0.5s;
    transition-delay: 0.4s;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .navigation.active ~ .close {
    width: 40px;
    height: 40px;
    pointer-events: initial;
    transition-delay: 0.8s;
}