/* Estilos do Container 2 */
:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --border: #ffffff;
    --nav-bg: rgb(31, 31, 31);
    --hamburguer-color: #ffffff;
    --shadow-color1: rgba(255, 255, 255, 0.3) ;
    --shadow-color2: rgba(255, 255, 255, 0.6) ;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border: #000000;
    --nav-bg: rgb(240, 240, 240);
    --hamburguer-color: #000000;
    --shadow-color1: rgba(0, 0, 0, 0.6) ;
    --shadow-color2: rgba(0, 0, 0, 0.9) ;
}



.container2 {
    max-width: 1280px;
    margin-inline: auto;
    padding: 50px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-bottom: solid 1px var(--border);
}

.container2 h2 {
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    margin-bottom: 40px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    z-index: 2;
    position: relative;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in-up 0.8s forwards;
}

.member:nth-child(1) { animation-delay: 0.1s; }
.member:nth-child(2) { animation-delay: 0.2s; }
.member:nth-child(3) { animation-delay: 0.3s; }
.member:nth-child(4) { animation-delay: 0.4s; }
.member:nth-child(5) { animation-delay: 0.5s; }

.member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 15px var(--shadow-color1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.member img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--shadow-color2);
}

.member p {
    color: white;
    font-family: "Instrument Sans", sans-serif;
    font-size: 1em;
    margin-top: 15px;
    /* font-weight: bold; */
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.background-image {
    position: absolute;
    bottom: -150px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('..'); */
    background-size: cover;
    background-position: center bottom;
    z-index: 1;
}

@media (max-width: 600px) {
    .container2 h2 {
        font-size: 1.5em;
    }

    .team-members {
        flex-direction: column;
        gap: 20px;
    }

    .member img {
        width: 100px;
        height: 100px;
    }
}