:root {
    --bg-color: #000000;
    --text-color: #ffffff;
    --border: #ffffff;
    --nav-bg: rgb(31, 31, 31);
    --hamburguer-color: #ffffff;
}

[data-theme="light"] {
    --bg-color: #ffffff;
    --text-color: #000000;
    --border: #000000;
    --nav-bg: rgb(240, 240, 240);
    --hamburguer-color: #000000;

}



body {
    color: var(--bg-color);
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch; 
    border-bottom: solid 0.5px var(--border);
}

/* Seção da esquerda */
.responses {
    width: 50%;
    padding: 7vh 5vw;
    border-right: solid 0.5px var(--border);
    box-sizing: border-box;
    font-size: 1.2em;
    align-content: center;
    display: block;
    justify-content: center;
    
}
.responses li{
    font-size: 1em;
}

.right-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
}

/* Seções da direita */
.quantypages {
    width: 100%;
    padding: 7vh 5vw;
    box-sizing: border-box;
}

.tipography {
    width: 100%;
    padding: 7vh 5vw;
    border-top: solid 0.5px var(--border);
    box-sizing: border-box;
}


h2 {
    font-family: "ADLaM Display", sans-serif;
    font-weight: 550;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 20px;
}

p, li {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 0;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .responses, .right-column {
        width: 100%;
    }
    .responses {
        border-right: none;
        border-bottom: solid 0.5px var(--border);
    }

    .quantypages {
        border-bottom: solid 0.5px var(--border); 
    }

    .tipography {
        border-top: none;
    }
    

    h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    
    h4, p, li {
        font-size: 0.9em;
        line-height: 1.3;
    }

    .responses, .right-column, .quantypages, .tipography {
        padding: 5vh 5vw;
    }
}